/* [最低限守るべき仕様]
* station5.htmlを作成すること
* imgタグにaltで説明を書くこと
* カードの背景色とタイトルのコントラスト値が十分に大きいこと

[プラスアルファでやっておくと良いこと]
* 要素のlang属性を使うこと。jaで指定
* ページのtitleタグが追加されていない場合は追加
* mainタグが使われていなければ、使う */
body {
  background-color: #c4c4c4;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  height: 40px;
  background-color: #ffffff;
  margin-bottom: 10px;
}
nav {
  background-color: #726666;
}
.card {
  width: 20%;
  padding: 10px;
  background-color: #ffffff;
  margin: 40px;
}
.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 10px;
}
.card__title {
  color: #282828;
  font-size: 14px;
}
.card__description {
  color: #282828;
  font-size: 12px;
}

footer {
  bottom: 0;
  height: 40px;
  background-color: #ffffff;
  margin-top: auto;
}
